extends layout

block content
	.container
		.row
			.col-6.mx-auto.mt-5
				h1.text-center.text-uppercase Register
				form(method="POST" novalidate).needs-validation.mt-3
					.form-group
						label(for="username") Username
						input#username.form-control(type="text" name="username" required)
						.invalid-feedback Please provide a valid username.
					.form-group
						label(for="password") Password
						input#password.form-control(type="password" name="password" required)
						.invalid-feedback Please provide a valid password.
					button.btn.btn-primary.btn-block(type="submit") Register
				ul
					-for(var item in data)
						li
							strong id: #{data[item]._id}
							strong username: #{data[item].username}
							strong password: #{data[item].password}
